*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Debug*/


.debug main .lower-main{
    background-color: green;
    height: 500px;
}

.debug #footer-left-big{
    background-color: pink;
    height: 500px;
}

.debug .footer-right{
    background-color: #20b2aa;
    height: 500px;
}

.debug #footer-low{
    background-color: cyan;
}


/* inizio CSS */


.center{
    width: 75%;
    margin: auto;
}

.button{
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;

}

.white{
    color: #000;
    background-color: #fff;
}

.black{
    color: #fff;
    background-color: #000;
}

.header-top{
    background-color: #255ee9;
    padding: 12px 0;
}


.header-top .logo,.header-top .login{
    width: 20%;
}

header .login{
    text-align: right;
}

.header-top .top-link{
    width: 60%;
    text-align: center;
}

.top-link{
    min-width: 500px;
}

.top-link a{
    text-decoration: none;
    color: #fff;
    padding: 0px 10px;
}

.header-bottom{
    height: 400px;
    padding-top: 40px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

nav{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text{
    width: 50%;
    color: #fff;
    text-align: center;
}

.header-text h1 {
    padding: 50px 0px 40px;
}

.header-text p{
    padding-bottom: 20px;
}

.flex-container{
    display: flex;
}

section{
    padding: 50px 0;
}

.section-image{
    width: 60%;
}

.section-text{
    width: 40%;
    padding: 35px 0 0 35px;
}

.section-image img{
    width: 100%;
}

.section-text h2{
    font-size: 50px;
}

.section-text p{
    padding-top: 30px;
    line-height: 25px;
}

section:nth-child(2n+2){
    background-color: lightgray;
}

footer{
    background-color: #23272a;
}

#footer-top{
    padding: 20px 0 40px;
    display: flex;
}

#footer-left-big{
    width: 30%;
}

.footer-right{
    width: 70%;
    display: flex;
}

.footer-right .column{
    width: calc(100% / 4);
}

#footer-low{
    margin-top: 30px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}