*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center{
    width: 75%;
    margin: auto;
}

.button{
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;

}

.button.white{
    color: #000;
    background-color: #fff;
}

.button.black{
    color: #fff;
    background-color: #000;
}

.button.blue{
    color: #fff;
    background-color: #7289da;
}

.header-top{
    background-color: #255ee9;
    padding: 12px 0;
}


.header-top .logo,.header-top .login{
    width: 20%;
}

header .login{
    text-align: right;
}

.header-top .top-link{
    width: 60%;
    text-align: center;
}

.top-link{
    min-width: 500px;
}

.top-link a{
    text-decoration: none;
    color: #fff;
    padding: 0px 10px;
}

.header-bottom{
    height: 400px;
    padding-top: 40px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

nav{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text{
    width: 50%;
    color: #fff;
    text-align: center;
}

.header-text h1 {
    padding: 50px 0px 40px;
}

.header-text p{
    padding-bottom: 20px;
}

.flex-container{
    display: flex;
}

.wave::before{
    content: url(../img/wave.svg);
    height: 50px;
    width: 50px;
}

section{
    padding: 50px 0;
}

.section-image{
    width: 60%;
}

.section-text{
    width: 40%;
    padding: 35px 0 0 35px;
}

.section-image img{
    width: 100%;
}

.section-text h2,section .lower-main h2{
    font-size: 50px;
}

.section-text p,section .lower-main p{
    padding-top: 30px;
    line-height: 25px;
}

.bg-gray{
    background-color: #f6f6f6;
}


section .lower-main{
    text-align: center;
}

#lower-title {
    height: 50px;
    font-size: 25px;
}

#lower-title h3{
    margin: -20px 0;
}

.lower-main a{
    display: inline-block;
    margin: 50px;
}

footer{
    background-color: #23272a;
}

#footer-top{
    padding: 70px 0 40px;
    display: flex;
}

#footer-left-big{
    width: 30%;
}

#footer-left-big h3{
    color: #758bdc;
    font-size: 30px;
    padding-bottom: 20px;
}

#footer-left-big span{
    color: #fff;
    font: 20px;
}

#footer-left-big span::after{
    content: '\2228';
}

.icons{
    color: #fff;
}

.icons i{
    margin: 10px;
}

.column{
    font-size: 20px;
}

.column h5{
    color:#758bdc;
}

.column a{
    display: block;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
}

#footer-left-big img{
    height: 20px;
    vertical-align: middle;
}


.footer-right{
    width: 70%;
    display: flex;
}

.footer-right .column{
    width: calc(100% / 4);
}

#footer-low{
    padding: 30px 0 70px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #4f5d8c;
}
/* sezione per bonus wave*/
.wave {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/wave.svg');
    filter: invert(100%) sepia(0%) saturate(7429%) hue-rotate(135deg) brightness(133%) contrast(93%);
}

.upper{
    transform: rotate(180deg);
}

/* sezione per bonus hover */

a:hover{
    font-size: 150%;
    font-family: monospace;
    box-shadow: 0 0 15px red;
}